<!--  <div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/{{product.productImage}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <p class="card-text">{{product.productDescription}}</p>
                <a class="nav-link" routerLink="/cart" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
</div>  -->

<section class="section-intro bg-primary padding-y-lg">
	<div class="container">

	  <article class="my-5">
        <p class="lead text-white">Welcome to our services ,login or register the acount and shop now New producs</p>
	    <h5 class="display- text-white"> Best products &  brands in our store  </h5>
	    <p class="lead text-white">Trendy Products, Factory Prices, Excellent Service</p>
	    
	  </article>

	</div> <!-- container end.// -->
</section>
<section class="padding-y">
    <div class="container">
    
        <header class="section-heading">
            <h3 class="section-title">ELECTRONICS</h3>
        </header> 
    
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/Electronics1.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$1273.02</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">Bluetooth Headset</p>
                        
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/Electronics2.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$1175.02</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">Bluetooth Speaker</p>
                        
                       
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/Electonics3.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$2939.02</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">Mi TV Stick with Built in Chromecast  (Black)</p>
                        
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/Electonics4.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$2026.64</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">Airtel Digital TV SD Set top Box 1 month My Family Pack SD</p>
                        
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-30 col-md-36 col-sm-24">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/Electonics5.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$298</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">Airtel Digital TV SD Set top Box 1 month My Family Pack SD</p>

                        
                    </figcaption>
                </figure>

                <header class="section-heading">
                    <h3 class="section-title">MOBILES</h3>
                </header> 
            
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Mobiles1.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$12925.05</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">Oppo A54</p>
                                
                            </figcaption>
                        </figure>
                    </div> <!-- col end.// -->
            
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Mobiles2.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$9451.5</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">Redmi 9 Activ</p>
                                
                               
                            </figcaption>
                        </figure>
                    </div> <!-- col end.// -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Mobiles3.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$19999</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">OnePlus Nord CE 2 Lite 5G</p>
                                
                            </figcaption>
                        </figure>
                    </div> <!-- col end.// -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Mobiles5.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$70990</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">Apple iPhone 13</p>
                                
                            </figcaption>
                        </figure>
                    </div> <!-- col end.// -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Mobiles4.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$10499</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">Samsung Galaxy M12</p>
        
                            </figcaption>
                        </figure>

                <header class="section-heading">
                    <h3 class="section-title">FASHIONS</h3>
                </header> 
            
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Fashions1.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$825</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">Dennis Lingo Men's Shirt</p>
                                
                            </figcaption>
                        </figure>
                    </div> <!-- col end.// -->
            
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Fashions2.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$588</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">SIRIL Women's Rayon Foil Print Straight Kurta</p>
                                
                               
                            </figcaption>
                        </figure>
                    </div> <!-- col end.// -->
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Fashions3.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$900</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">Diruno Men's Lycra Printed Checkered</p>
                                
                            </figcaption>
                        </figure>
                    </div> <!-- col end.// -->
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Fashions5.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$1119</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">Sports Shoes</p>
                                
                            </figcaption>
                        </figure>
                    </div> <!-- col end.// -->
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> 
                                <img src="../../assets/Fashions4.jpg"> 
                            </div>
                            <figcaption class="info-wrap border-top">
                                <div class="price-wrap">
                                    <span class="price">$842</span>
                                </div> <!-- price-wrap.// -->
                                <p class="title mb-2">Sports Shoes</p>
        
                            </figcaption>
                        </figure>

            </div> <!-- col end.// -->
    
        </div> <!-- row end.// -->

    </div> <!-- container end.// -->

    <section class="features-area section_gap">
        <div class="container">
            <div class="row features-inner">
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="1">
                            <img src="../../assets/1.jpg" alt="">
                        </div>
                        <h6>Free Delivery</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="2">
                            <img src="../../assets/2.jpg" alt="">
                        </div>
                        <h6>Return Policy</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="3">
                            <img src="../../assets/3.jpg" alt="">
                        </div>
                        <h6>24/7 Support</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="4">
                            <img src="../../assets/4.jpg" alt="">
                        </div>
                        <h6>Secure Payment</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
